# Analyze Processing Quality

#### Updated: Jan 12, 2023

#

Analyze the overall quality of the processing of the first batch of Alouette images. Determine that all subdirectories have been processed. Determine which subdirectories have the highest loss - are there any patterns? For instance, do certain rolls have high loss, or images from certain ground stations?

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
rootDir = 'L:/DATA/Alouette_I/'
resultDir = rootDir + '05_result/'
logDir = rootDir + '06_log/'

#

#### Identify outstanding subdirectories to process:

Check from process_log:

Remove duplicates from process_log:

In [3]:
df_process_log = pd.read_csv(logDir + 'process_log.csv')
print(len(df_process_log))
df_process_log.head()

3096

,Roll,Subdirectory,Images_processed,Images_dot,Images_num,Images_loss,Images_outlier,Process_time,Process_timestamp,User,subdir_id
0,R014207978F,319,239,206,5,11,17,259.625649,2022-12-15 23:28:15.951151,Rav,R014207978F_319
1,R014207966,1185-1B,386,0,383,0,3,1415.449691,2022-12-15 23:51:57.608703,Rav,R014207966_1185-1B
2,R014207975,1108-B,363,0,347,4,12,367.330205,2022-12-15 23:58:19.342118,Rav,R014207975_1108-B
3,R014207957,2631-1A,333,0,320,4,9,607.819416,2022-12-16 00:08:43.220755,Rav,R014207957_2631-1A
4,R014207966,1150-B,369,0,362,1,6,775.810147,2022-12-16 00:21:52.993215,Rav,R014207966_1150-B

In [4]:
df_p1 = df_process_log.sort_values('Process_timestamp', ascending=True)
df_p1 = df_p1.drop_duplicates(subset=['subdir_id'], keep='last') 
print(len(df_p1))
df_p1.head()

2638

,Roll,Subdirectory,Images_processed,Images_dot,Images_num,Images_loss,Images_outlier,Process_time,Process_timestamp,User,subdir_id
1,R014207966,1185-1B,386,0,383,0,3,1415.449691,2022-12-15 23:51:57.608703,Rav,R014207966_1185-1B
2,R014207975,1108-B,363,0,347,4,12,367.330205,2022-12-15 23:58:19.342118,Rav,R014207975_1108-B
3,R014207957,2631-1A,333,0,320,4,9,607.819416,2022-12-16 00:08:43.220755,Rav,R014207957_2631-1A
4,R014207966,1150-B,369,0,362,1,6,775.810147,2022-12-16 00:21:52.993215,Rav,R014207966_1150-B
5,R014207979F,288,421,345,3,23,50,157.020877,2022-12-16 00:24:43.050306,Rav,R014207979F_288

In [5]:
df_p1.tail()

,Roll,Subdirectory,Images_processed,Images_dot,Images_num,Images_loss,Images_outlier,Process_time,Process_timestamp,User,subdir_id
3091,R014207970,1377-18B,316,0,297,8,11,235.842583,2023-01-12 21:19:30.705797,Rav,R014207970_1377-18B
3092,R014207832,3622-43A,0,0,0,0,0,40.085038,2023-01-12 21:20:22.416928,Rav,R014207832_3622-43A
3093,R014207966,1164-B,394,0,381,1,12,874.615626,2023-01-12 21:35:09.841040,Rav,R014207966_1164-B
3094,R014207979F,290,152,106,0,18,28,218.985744,2023-01-12 21:39:03.490718,Rav,R014207979F_290
3095,R014207955,2850-50B,0,0,0,0,0,40.725694,2023-01-12 21:39:53.412388,Rav,R014207955_2850-50B

Look at duplicates from process_log:

In [6]:
df_p1_ = df_process_log[df_process_log.duplicated(subset=['subdir_id'], keep=False)]
df_p1_ = df_p1_.sort_values(['subdir_id', 'Process_timestamp'])
print(len(df_p1_))
df_p1_.head(10)

618

,Roll,Subdirectory,Images_processed,Images_dot,Images_num,Images_loss,Images_outlier,Process_time,Process_timestamp,User,subdir_id
1329,R014207815,3493-8A,290,0,284,1,5,561.010995,2022-12-24 04:40:45.450883,Rav,R014207815_3493-8A
3060,R014207815,3493-8A,287,0,272,2,13,415.501239,2023-01-10 23:50:22.088115,Rav,R014207815_3493-8A
1115,R014207815,3494-8A,290,0,284,1,5,322.571464,2022-12-22 19:41:42.498221,Rav,R014207815_3494-8A
3046,R014207815,3494-8A,262,0,255,2,5,153.804969,2023-01-10 21:53:04.496138,Rav,R014207815_3494-8A
1390,R014207815,3498-8A,290,0,284,1,5,583.659354,2022-12-24 16:33:40.137930,Rav,R014207815_3498-8A
3065,R014207815,3498-8A,270,0,260,1,9,428.864500,2023-01-11 00:22:48.388375,Rav,R014207815_3498-8A
1231,R014207815,3530-5A,337,0,325,5,7,0.807998,2022-12-23 14:37:37.109226,Roksana,R014207815_3530-5A
3051,R014207815,3530-5A,317,0,131,166,20,344.793604,2023-01-10 22:16:41.198520,Rav,R014207815_3530-5A
1457,R014207815,3537-A3,290,0,284,1,5,842.873997,2022-12-25 05:18:24.317487,Rav,R014207815_3537-A3
3071,R014207815,3537-A3,288,0,284,3,1,691.392657,2023-01-11 01:28:57.093333,Rav,R014207815_3537-A3

Find any subdirectories that have not been processed:

In [7]:
df_inventory = pd.read_csv(logDir + 'image_inventory.csv')
print(len(df_inventory))
df_inventory.head()

2638

         Roll Subdirectory  images            subdir_id
0  R014207815     3488-15A     273  R014207815_3488-15A
1  R014207815     3489-15A     281  R014207815_3489-15A
2  R014207815     3490-15A     198  R014207815_3490-15A
3  R014207815      3491-8A     289   R014207815_3491-8A
4  R014207815      3492-8A     334   R014207815_3492-8A

In [8]:
subdir_ids_tot = df_inventory['subdir_id'].unique()
subdir_ids_proc = df_p1['subdir_id'].unique()
subdir_ids_rem = list(set(subdir_ids_tot) - set(subdir_ids_proc))
subdir_ids_rem

[]

Check from resultDir:

In [9]:
df_result = pd.DataFrame()
i = 0
for file in os.listdir(resultDir):
    if 'R' in file:
        roll = file
        for file2 in os.listdir(resultDir + roll + '/'):
            if 'result' in file2:
                fn_parts = file2.split('_')
                subdirectory = fn_parts[1].replace('.csv', '')
                try:
                    df_load = pd.read_csv(resultDir + roll + '/' + file2, sep=',')
                    n = len(df_load)
                except pd.errors.EmptyDataError:
                    n = 0
                row = pd.DataFrame({
                    'Roll': roll,
                    'Subdirectory': subdirectory,
                    'images_result': n,
                    'subdir_id': roll + '_' + subdirectory
                }, index=[i])
                df_result = pd.concat([df_result, row])
                i += 1
                if i % 100 == 0:
                    print(str(i) + ': Now inspecting...' + roll + '/' + subdirectory)

100: Now inspecting...R014207816/3407-143
200: Now inspecting...R014207823/3567-43A
300: Now inspecting...R014207824/3187-14A
400: Now inspecting...R014207840/3047-53A-2-RR
500: Now inspecting...R014207842/3267-A3
600: Now inspecting...R014207907F/289
700: Now inspecting...R014207908F/586
800: Now inspecting...R014207929F/452
900: Now inspecting...R014207930F/677
1000: Now inspecting...R014207939/882-A
1100: Now inspecting...R014207942/1945-5A
1200: Now inspecting...R014207943/2107-5B
1300: Now inspecting...R014207947/1906-5B
1400: Now inspecting...R014207949/2126-5B
1500: Now inspecting...R014207951/2466-8A
1600: Now inspecting...R014207954/2206-18B
1700: Now inspecting...R014207956/2368-1B
1800: Now inspecting...R014207958/2770-12A
1900: Now inspecting...R014207959/2332-7A
2000: Now inspecting...R014207962/1471-1B
2100: Now inspecting...R014207965/1634-18B
2200: Now inspecting...R014207966/1193-5-A
2300: Now inspecting...R014207968/1235-3A
2400: Now inspecting...R014207974/749-A
2500: Now inspecting...R014207978F/309
2600: Now inspecting...R014207980/1019-A

In [10]:
print(len(df_result))
df_result.head()

2638

         Roll Subdirectory  images_result            subdir_id
0  R014207815     3488-15A            273  R014207815_3488-15A
1  R014207815     3489-15A            276  R014207815_3489-15A
2  R014207815     3490-15A            198  R014207815_3490-15A
3  R014207815      3491-8A            289   R014207815_3491-8A
4  R014207815      3492-8A            334   R014207815_3492-8A

In [11]:
subdir_ids_tot = df_inventory['subdir_id'].unique()
subdir_ids_res = df_result['subdir_id'].unique()
subdir_ids_rem = list(set(subdir_ids_tot) - set(subdir_ids_res))
subdir_ids_rem

[]

In [12]:
df_p1_res = df_p1.merge(df_result, on=['Roll', 'Subdirectory', 'subdir_id'], how='left')
print(len(df_p1_res))
df_p1_res.head()

2638

,Roll,Subdirectory,Images_processed,Images_dot,Images_num,Images_loss,Images_outlier,Process_time,Process_timestamp,User,subdir_id,images_result
0,R014207966,1185-1B,386,0,383,0,3,1415.449691,2022-12-15 23:51:57.608703,Rav,R014207966_1185-1B,386
1,R014207975,1108-B,363,0,347,4,12,367.330205,2022-12-15 23:58:19.342118,Rav,R014207975_1108-B,363
2,R014207957,2631-1A,333,0,320,4,9,607.819416,2022-12-16 00:08:43.220755,Rav,R014207957_2631-1A,333
3,R014207966,1150-B,369,0,362,1,6,775.810147,2022-12-16 00:21:52.993215,Rav,R014207966_1150-B,369
4,R014207979F,288,421,345,3,23,50,157.020877,2022-12-16 00:24:43.050306,Rav,R014207979F_288,421

In [13]:
df1 = df_p1_res.loc[df_p1_res['Images_processed'] == 0]
df2 = df_p1_res.loc[df_p1_res['images_result'] == 0]
df3 = df_p1_res.loc[(df_p1_res['Images_processed'] == 0) | (df_p1_res['images_result'] == 0)]
print(len(df1))
print(len(df2))
print(len(df3))
df3.head()

40
40
40

,Roll,Subdirectory,Images_processed,Images_dot,Images_num,Images_loss,Images_outlier,Process_time,Process_timestamp,User,subdir_id,images_result
2539,R014207821,3346-38A,0,0,0,0,0,38.095704,2023-01-10 17:53:11.805510,Rav,R014207821_3346-38A,0
2540,R014207824,3143-14A,0,0,0,0,0,32.883987,2023-01-10 17:53:51.828994,Rav,R014207824_3143-14A,0
2541,R014207842,3259-50A,0,0,0,0,0,34.829748,2023-01-10 17:54:35.556059,Rav,R014207842_3259-50A,0
2542,R014207907F,301,0,0,0,0,0,504.873584,2023-01-10 18:03:06.670546,Rav,R014207907F_301,0
2543,R014207844,2914-43B,0,0,0,0,0,36.678300,2023-01-10 18:03:54.596781,Rav,R014207844_2914-43B,0

Check mapped_coords:

In [14]:
df_mc = pd.DataFrame()
i = 0
for file in os.listdir(resultDir + 'mapped_coords/'):
    if 'R' in file:
        roll = file
        for file2 in os.listdir(resultDir + 'mapped_coords/' + roll + '/'):
            subdirectory = file2
            n = 0
            for file3 in os.listdir(resultDir + 'mapped_coords/' + roll + '/' + subdirectory + '/'):
                if 'mapped_coords' in file3:
                    n += 1
            row = pd.DataFrame({
                'Roll': roll,
                'Subdirectory': subdirectory,
                'mapped_coords_result': n,
                'subdir_id': roll + '_' + subdirectory
            }, index=[i])
            df_mc = pd.concat([df_mc, row])
            i += 1
            if i % 100 == 0:
                    print(str(i) + ': Now inspecting...' + roll + '/' + subdirectory)

100: Now inspecting...R014207816/3407-143
200: Now inspecting...R014207823/3572-19A
300: Now inspecting...R014207832/3618-43-2
400: Now inspecting...R014207840/3064-13B
500: Now inspecting...R014207842/3289-5A
600: Now inspecting...R014207907F/516
700: Now inspecting...R014207909F/697
800: Now inspecting...R014207930F/609
900: Now inspecting...R014207938/936-A
1000: Now inspecting...R014207940F/379
1100: Now inspecting...R014207942/1981-5A
1200: Now inspecting...R014207946/1841-3A
1300: Now inspecting...R014207948/1701-5A
1400: Now inspecting...R014207949/2162-1A
1500: Now inspecting...R014207953/2681-9A
1600: Now inspecting...R014207955/2843-50B
1700: Now inspecting...R014207956/2406-1B
1800: Now inspecting...R014207958/2810-7A
1900: Now inspecting...R014207960/2550-5B
2000: Now inspecting...R014207964/1572-1B
2100: Now inspecting...R014207965/1673-13
2200: Now inspecting...R014207967/1415-13B
2300: Now inspecting...R014207970/1334-16B
2400: Now inspecting...R014207975/1088-A
2500: Now inspecting...R014207978F/348

In [15]:
print(len(df_mc))
df_mc.head()

2598

         Roll Subdirectory  mapped_coords_result            subdir_id
0  R014207815     3488-15A                   257  R014207815_3488-15A
1  R014207815     3489-15A                   273  R014207815_3489-15A
2  R014207815     3490-15A                   192  R014207815_3490-15A
3  R014207815      3491-8A                   283   R014207815_3491-8A
4  R014207815      3492-8A                   322   R014207815_3492-8A

In [16]:
df_p1_mc = df_p1.merge(df_mc, on=['Roll', 'Subdirectory', 'subdir_id'], how='left')
print(len(df_p1_mc))
df_p1_mc.head()

2638

,Roll,Subdirectory,Images_processed,Images_dot,Images_num,Images_loss,Images_outlier,Process_time,Process_timestamp,User,subdir_id,mapped_coords_result
0,R014207966,1185-1B,386,0,383,0,3,1415.449691,2022-12-15 23:51:57.608703,Rav,R014207966_1185-1B,385.0
1,R014207975,1108-B,363,0,347,4,12,367.330205,2022-12-15 23:58:19.342118,Rav,R014207975_1108-B,348.0
2,R014207957,2631-1A,333,0,320,4,9,607.819416,2022-12-16 00:08:43.220755,Rav,R014207957_2631-1A,321.0
3,R014207966,1150-B,369,0,362,1,6,775.810147,2022-12-16 00:21:52.993215,Rav,R014207966_1150-B,362.0
4,R014207979F,288,421,345,3,23,50,157.020877,2022-12-16 00:24:43.050306,Rav,R014207979F_288,348.0

In [17]:
df1 = df_p1_mc.loc[df_p1_mc['Images_processed'] == 0]
df2 = df_p1_mc.loc[df_p1_mc['mapped_coords_result'] == 0]
df2a = df_p1_mc.loc[df_p1_mc['mapped_coords_result'].isnull()]
df3 = df_p1_mc.loc[(df_p1_mc['Images_processed'] == 0) | (df_p1_mc['mapped_coords_result'] == 0)]
print(len(df1))
print(len(df2))
print(len(df2a))
print(len(df3))
df3

40
0
40
40

,Roll,Subdirectory,Images_processed,Images_dot,Images_num,Images_loss,Images_outlier,Process_time,Process_timestamp,User,subdir_id,mapped_coords_result
2539,R014207821,3346-38A,0,0,0,0,0,38.095704,2023-01-10 17:53:11.805510,Rav,R014207821_3346-38A,NaN
2540,R014207824,3143-14A,0,0,0,0,0,32.883987,2023-01-10 17:53:51.828994,Rav,R014207824_3143-14A,NaN
2541,R014207842,3259-50A,0,0,0,0,0,34.829748,2023-01-10 17:54:35.556059,Rav,R014207842_3259-50A,NaN
2542,R014207907F,301,0,0,0,0,0,504.873584,2023-01-10 18:03:06.670546,Rav,R014207907F_301,NaN
2543,R014207844,2914-43B,0,0,0,0,0,36.678300,2023-01-10 18:03:54.596781,Rav,R014207844_2914-43B,NaN
2544,R014207844,2842-43B,0,0,0,0,0,38.916743,2023-01-10 18:04:45.251761,Rav,R014207844_2842-43B,NaN
2545,R014207842,3304-15A,0,0,0,0,0,40.491445,2023-01-10 18:05:35.342069,Rav,R014207842_3304-15A,NaN
2546,R014207842,3277-3B,0,0,0,0,0,39.547912,2023-01-10 18:06:23.796641,Rav,R014207842_3277-3B,NaN
2547,R014207824,3144-13B,0,0,0,0,0,45.600797,2023-01-10 18:07:16.436956,Rav,R014207824_3144-13B,NaN
2548,R014207844,2942-43B,0,0,0,0,0,40.567378,2023-01-10 18:08:06.127293,Rav,R014207844_2942-43B,NaN
2549,R014207909F,716,0,0,0,0,0,29.290851,2023-01-10 18:08:42.985789,Rav,R014207909F_716,NaN
2550,R014207844,2941-43B,0,0,0,0,0,33.443572,2023-01-10 18:09:24.439519,Rav,R014207844_2941-43B,NaN
2551,R014207954,2201-1A,0,0,0,0,0,25.288696,2023-01-10 18:09:58.128175,Rav,R014207954_2201-1A,NaN
2552,R014207841,3125-8A,0,0,0,0,0,31.440300,2023-01-10 18:10:37.442326,Rav,R014207841_3125-8A,NaN
2553,R014207842,3275-3A,0,0,0,0,0,29.000202,2023-01-10 18:11:14.040222,Rav,R014207842_3275-3A,NaN
2554,R014207842,3307-15A,0,0,0,0,0,37.846086,2023-01-10 18:11:57.101054,Rav,R014207842_3307-15A,NaN
2555,R014207979F,302,0,0,0,0,0,42.950800,2023-01-10 18:12:47.523463,Rav,R014207979F_302,NaN
2556,R014207824,3133-8A,0,0,0,0,0,24.185874,2023-01-10 18:13:21.829172,Rav,R014207824_3133-8A,NaN
2557,R014207824,3171-14A,0,0,0,0,0,43.559402,2023-01-10 18:14:11.963551,Rav,R014207824_3171-14A,NaN
2558,R014207842,3284-5A,0,0,0,0,0,40.680668,2023-01-10 18:15:02.612451,Rav,R014207842_3284-5A,NaN
2559,R014207844,2940-43B,0,0,0,0,0,27.099180,2023-01-10 18:15:38.466874,Rav,R014207844_2940-43B,NaN
2560,R014207832,3628-19A,0,0,0,0,0,36.380781,2023-01-10 18:16:21.489964,Rav,R014207832_3628-19A,NaN
2561,R014207832,3611-38A,0,0,0,0,0,34.867280,2023-01-10 18:17:04.757866,Rav,R014207832_3611-38A,NaN
2562,R014207832,3624-43A,0,0,0,0,0,35.221350,2023-01-10 18:17:49.315592,Rav,R014207832_3624-43A,NaN
2563,R014207821,3322-15A,0,0,0,0,0,32.693111,2023-01-10 18:18:31.888616,Rav,R014207821_3322-15A,NaN
2564,R014207832,3646-15A,0,0,0,0,0,33.996544,2023-01-10 18:19:12.179140,Rav,R014207832_3646-15A,NaN
2565,R014207832,3623-43A,0,0,0,0,0,33.270829,2023-01-10 18:19:53.723685,Rav,R014207832_3623-43A,NaN
2566,R014207823,3599-50A,0,0,0,0,0,39.386116,2023-01-10 18:20:42.065148,Rav,R014207823_3599-50A,NaN
2567,R014207929F,458,0,0,0,0,0,24.989973,2023-01-10 18:21:15.984992,Rav,R014207929F_458,NaN
2568,R014207962,1505-1B,0,0,0,0,0,20.613318,2023-01-10 18:21:42.470741,Rav,R014207962_1505-1B,NaN
2569,R014207832,3636-43A,0,0,0,0,0,37.511920,2023-01-10 18:22:26.001592,Rav,R014207832_3636-43A,NaN
2570,R014207844,2932-43B,0,0,0,0,0,31.943596,2023-01-10 18:23:06.984721,Rav,R014207844_2932-43B,NaN
2571,R014207955,2835-50B,0,0,0,0,0,31.801804,2023-01-10 18:23:46.929928,Rav,R014207955_2835-50B,NaN
2572,R014207823,3556-43,0,0,0,0,0,45.146546,2023-01-10 18:24:40.519141,Rav,R014207823_3556-43,NaN
2573,R014207907F,527,0,0,0,0,0,23.702462,2023-01-10 18:25:14.099628,Rav,R014207907F_527,NaN
2605,R014207821,3311-15A,0,0,0,0,0,36.799880,2023-01-11 00:06:19.934606,Rav,R014207821_3311-15A,NaN
2619,R014207907F,541,0,0,0,0,0,643.275208,2023-01-12 19:41:34.115863,Rav,R014207907F_541,NaN
2620,R014207823,3551-43A,0,0,0,0,0,40.274272,2023-01-12 19:42:23.961529,Rav,R014207823_3551-43A,NaN
2634,R014207832,3622-43A,0,0,0,0,0,40.085038,2023-01-12 21:20:22.416928,Rav,R014207832_3622-43A,NaN
2637,R014207955,2850-50B,0,0,0,0,0,40.725694,2023-01-12 21:39:53.412388,Rav,R014207955_2850-50B,NaN

In [18]:
df4 = df_p1_mc.loc[(df_p1_mc['Images_processed'] != 0) & (df_p1_mc['mapped_coords_result'].isnull())]
print(len(df4))
df4

0

Empty DataFrame
Columns: [Roll, Subdirectory, Images_processed, Images_dot, Images_num, Images_loss, Images_outlier, Process_time, Process_timestamp, User, subdir_id, mapped_coords_result]
Index: []

In [19]:
#df4.to_csv(logDir + 'reprocess_list.csv', index=False)

#

#### Identify 0 Images_processed subdirectories, and try to process again:

In [19]:
df_p2 = df_p1.sort_values('Images_processed').reset_index(drop=True)
df_p2 = df_p2.loc[df_p2['Images_processed'] == 0]
print(len(df_p2))
df_p2.head()

40

,Roll,Subdirectory,Images_processed,Images_dot,Images_num,Images_loss,Images_outlier,Process_time,Process_timestamp,User,subdir_id
0,R014207955,2850-50B,0,0,0,0,0,40.725694,2023-01-12 21:39:53.412388,Rav,R014207955_2850-50B
1,R014207824,3143-14A,0,0,0,0,0,32.883987,2023-01-10 17:53:51.828994,Rav,R014207824_3143-14A
2,R014207832,3611-38A,0,0,0,0,0,34.867280,2023-01-10 18:17:04.757866,Rav,R014207832_3611-38A
3,R014207821,3346-38A,0,0,0,0,0,38.095704,2023-01-10 17:53:11.805510,Rav,R014207821_3346-38A
4,R014207821,3322-15A,0,0,0,0,0,32.693111,2023-01-10 18:18:31.888616,Rav,R014207821_3322-15A

In [20]:
df_p2.to_csv(logDir + 'reprocess_list.csv', index=False)

#

#### Order subdirectories by proportion 'total loss' (unprocessed + loss + outlier):

Compare with process_log with download_log:

In [43]:
df_download_log = pd.read_csv(logDir + 'download_log.csv')
print(len(df_download_log))
df_download_log.head()

2639

,Roll,Subdirectory,Images_downloaded,Download_time,Download_timestamp,User,subdir_id
0,R014207966,1185-1B,388,103.911195,2022-12-15 23:26:13.703970,Rav,R014207966_1185-1B
1,R014207975,1108-B,364,100.474518,2022-12-15 23:32:54.868807,Rav,R014207975_1108-B
2,R014207957,2631-1A,335,63.127634,2022-12-15 23:53:58.671362,Rav,R014207957_2631-1A
3,R014207966,1150-B,369,95.732583,2022-12-16 00:00:35.088810,Rav,R014207966_1150-B
4,R014207979F,288,421,75.788788,2022-12-16 00:11:51.540555,Rav,R014207979F_288

In [44]:
df_d1 = df_download_log.sort_values('Download_timestamp', ascending=True)
df_d1 = df_d1.drop_duplicates(subset=['subdir_id'], keep='last')
df_d1 = df_d1.rename(columns={
    'User': 'User_dl'
})
print(len(df_d1))
df_d1.head()

2638

,Roll,Subdirectory,Images_downloaded,Download_time,Download_timestamp,User_dl,subdir_id
0,R014207966,1185-1B,388,103.911195,2022-12-15 23:26:13.703970,Rav,R014207966_1185-1B
1,R014207975,1108-B,364,100.474518,2022-12-15 23:32:54.868807,Rav,R014207975_1108-B
2,R014207957,2631-1A,335,63.127634,2022-12-15 23:53:58.671362,Rav,R014207957_2631-1A
3,R014207966,1150-B,369,95.732583,2022-12-16 00:00:35.088810,Rav,R014207966_1150-B
4,R014207979F,288,421,75.788788,2022-12-16 00:11:51.540555,Rav,R014207979F_288

In [45]:
df_d1_ = df_download_log[df_download_log.duplicated(subset=['subdir_id'], keep=False)]
df_d1_ = df_d1_.sort_values(['subdir_id', 'Download_timestamp'])
print(len(df_d1_))
df_d1_.head(10)

2

,Roll,Subdirectory,Images_downloaded,Download_time,Download_timestamp,User,subdir_id
978,R014207949,2114-1A,341,86.235073,2022-12-21 16:22:32.687731,Roksana,R014207949_2114-1A
2638,R014207949,2114-1A,341,84.204622,2023-01-06 18:10:28.619273,Rav,R014207949_2114-1A

In [46]:
df1 = df_p1.merge(df_d1, on=['Roll', 'Subdirectory', 'subdir_id'])
print(len(df1))
df1.head()

2638

,Roll,Subdirectory,Images_processed,Images_dot,Images_num,Images_loss,Images_outlier,Process_time,Process_timestamp,User,subdir_id,Images_downloaded,Download_time,Download_timestamp,User_dl
0,R014207966,1185-1B,386,0,383,0,3,1415.449691,2022-12-15 23:51:57.608703,Rav,R014207966_1185-1B,388,103.911195,2022-12-15 23:26:13.703970,Rav
1,R014207975,1108-B,363,0,347,4,12,367.330205,2022-12-15 23:58:19.342118,Rav,R014207975_1108-B,364,100.474518,2022-12-15 23:32:54.868807,Rav
2,R014207957,2631-1A,333,0,320,4,9,607.819416,2022-12-16 00:08:43.220755,Rav,R014207957_2631-1A,335,63.127634,2022-12-15 23:53:58.671362,Rav
3,R014207966,1150-B,369,0,362,1,6,775.810147,2022-12-16 00:21:52.993215,Rav,R014207966_1150-B,369,95.732583,2022-12-16 00:00:35.088810,Rav
4,R014207979F,288,421,345,3,23,50,157.020877,2022-12-16 00:24:43.050306,Rav,R014207979F_288,421,75.788788,2022-12-16 00:11:51.540555,Rav

In [47]:
df1['Images_unprocessed'] = df1['Images_downloaded'] - df1['Images_processed']
df1.head()

,Roll,Subdirectory,Images_processed,Images_dot,Images_num,Images_loss,Images_outlier,Process_time,Process_timestamp,User,subdir_id,Images_downloaded,Download_time,Download_timestamp,User_dl,Images_unprocessed
0,R014207966,1185-1B,386,0,383,0,3,1415.449691,2022-12-15 23:51:57.608703,Rav,R014207966_1185-1B,388,103.911195,2022-12-15 23:26:13.703970,Rav,2
1,R014207975,1108-B,363,0,347,4,12,367.330205,2022-12-15 23:58:19.342118,Rav,R014207975_1108-B,364,100.474518,2022-12-15 23:32:54.868807,Rav,1
2,R014207957,2631-1A,333,0,320,4,9,607.819416,2022-12-16 00:08:43.220755,Rav,R014207957_2631-1A,335,63.127634,2022-12-15 23:53:58.671362,Rav,2
3,R014207966,1150-B,369,0,362,1,6,775.810147,2022-12-16 00:21:52.993215,Rav,R014207966_1150-B,369,95.732583,2022-12-16 00:00:35.088810,Rav,0
4,R014207979F,288,421,345,3,23,50,157.020877,2022-12-16 00:24:43.050306,Rav,R014207979F_288,421,75.788788,2022-12-16 00:11:51.540555,Rav,0

#

Negative Images_unprocessed issue - reprocess these subdirectories:

In [48]:
df2 = df1.loc[df1['Images_unprocessed'] < 0]
print(len(df2))
df2.head()

46

,Roll,Subdirectory,Images_processed,Images_dot,Images_num,Images_loss,Images_outlier,Process_time,Process_timestamp,User,subdir_id,Images_downloaded,Download_time,Download_timestamp,User_dl,Images_unprocessed
483,R014207907F,524,712,353,306,23,30,671.095206,2022-12-19 20:35:24.248602,Roksana,R014207907F_524,412,79.659038,2022-12-19 20:21:24.132593,Roksana,-300
641,R014207840,3047-53A-2-RR,314,1,259,43,11,478.103771,2022-12-20 16:31:45.168516,Rav,R014207840_3047-53A-2-RR,313,76.046123,2022-12-20 16:22:28.320731,Rav,-1
670,R014207841,3116-13B,363,0,353,1,9,230.367390,2022-12-20 18:44:10.745672,Rav,R014207841_3116-13B,302,81.163815,2022-12-20 18:35:22.252768,Rav,-61
688,R014207844,2945-43B,326,0,309,4,13,849.052986,2022-12-20 20:35:39.269207,Rav,R014207844_2945-43B,287,69.989887,2022-12-20 20:18:39.378767,Rav,-39
741,R014207960,2582-18B,400,368,5,10,17,910.137281,2022-12-21 00:51:32.401796,Roksana,R014207960_2582-18B,328,86.695219,2022-12-21 00:34:34.681819,Roksana,-72

In [49]:
df2.to_csv(logDir + 'reprocess_list.csv', index=False)