# Post-Processing (BATCH II)

#### Updated: March 18, 2023

#

In [1]:
import pandas as pd

In [2]:
logDir = 'L:/DATA/Alouette_I/BATCH_II_Run1/06_log/'

#

#### Generate list of unprocessed subdirectories, for further qualitative inspection:

In [3]:
df_process_log = pd.read_csv(logDir + 'process_log.csv')
df_p1 = df_process_log.sort_values('Process_timestamp', ascending=True)
df_p1 = df_p1.drop_duplicates(subset=['subdir_id'], keep='last') 
print(len(df_p1))
df_p1.head()

920

,Roll,Subdirectory,Images_processed,Images_dot,Images_num,Images_loss,Images_outlier,Process_time,Process_timestamp,User,subdir_id
792,R014207813,5031,416.0,0.0,117.0,247.0,52.0,286.101392,00:02.4,Rav Super3,R014207813_5031
573,R014207825,3760-38A,174.0,0.0,83.0,86.0,5.0,388.078494,00:05.8,Rav Super11,R014207825_3760-38A
723,R014207763,AUG-6-TO-AUG-13-1965,0.0,0.0,0.0,0.0,0.0,161.170390,00:06.2,Rav Super3,R014207763_AUG-6-TO-AUG-13-1965
20,R014207807,4953,0.0,0.0,0.0,0.0,0.0,186.827210,00:09.2,Rav Super11,R014207807_4953
654,R014207817,May-87,344.0,0.0,321.0,4.0,19.0,638.494545,00:10.3,Rav Super10,R014207817_4187-5

In [4]:
df1 = df_p1.loc[df_p1['Images_processed'] == 0]
print(len(df1))

529

In [5]:
df2 = df1[['Roll', 'Subdirectory', 'Images_processed']]
df2 = df2.rename(columns={
    'Roll': 'Directory'
})
df2 = df2.sort_values(['Directory', 'Subdirectory']).reset_index(drop=True)
df2

      Directory Subdirectory  Images_processed
0    R014207709          145               0.0
1    R014207709          146               0.0
2    R014207709          147               0.0
3    R014207709          148               0.0
4    R014207709          149               0.0
..          ...          ...               ...
524  R014207825     3771-43A               0.0
525  R014207825   3779-43A-2               0.0
526  R014207825     3780-43A               0.0
527  R014207825   3783-69A-2               0.0
528  R014207825     3784-69A               0.0

[529 rows x 3 columns]

In [6]:
df2.to_csv(logDir + 'unprocessed_subdirs-BATCHII_20230320.csv', index=False)

In [7]:
df2.sample(10)

      Directory           Subdirectory  Images_processed
366  R014207810                   5126               0.0
205  R014207766  OCT-22-TO-NOV-20-1964               0.0
419  R014207811                   5091               0.0
132  R014207763  JULY-18-TO-AUG-2-1966               0.0
432  R014207811                   5105               0.0
494  R014207817                 May-79               0.0
373  R014207810                   5136               0.0
482  R014207813                   5046               0.0
288  R014207807                   4929               0.0
405  R014207811                   5076               0.0